<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    Welcome to {{title}}!


 <p> Angular-Directives Works! </p>

 <ul>
    <li *ngFor="let animal of animals, let i = index, let x = odd">
        {{ i }} - {{ x }} - {{animal.name}}
    </li>
</ul>

<!-- advance feture -->
<ul>
    <li *ngFor="let animal of animals; trackBy:animalTrackerFunction">
        <span>  {{ animal.name }} </span>
        <small> {{ animal.category }} </small>
    </li>
</ul>

<div [ngClass]="{ bordered: false }">
    This is never bordered
</div>

<div [ngClass]="{ bordered: true }">
    This is always bordered
</div>

<div [ngClass]="{ transparent: isTransparent }">
    This is trasparent if "isTransparent" class property evaluates to "true"
</div>


<div [ngStyle]="{ 'background-color': 'blue' }">
    Blue background here
</div>
